*{
    box-sizing:border-box;
    
}

input[type="submit"]
{
    background-color: rgb(42, 140, 233);
    border: none;
    color: aliceblue;
    padding: 12px 20px;
    border-radius: 500px;       
}

input[type="submit"]:hover{
    background-color: rgb(246, 104, 232);
}


.page{
    background-color: rgb(217, 236, 242);
    padding:5px 20px 15px 20px;
    border-color: black;
   
}

input[type="text"]
{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
}



::placeholder{
    color:dimgray;
}

.continer{
    background-color: #a5b3b9;
    padding:5px 20px 15px 20px;
    border:1px solid rgb(0, 0, 0);
    border-radius: 10px;
   


    
}

.header{
    background-color: rgb(143, 205, 81);
    padding:25px 20px 30px 50px;
}